{% extends 'base.html' %}

{% block body %}
<div class="padding-top">
  <h6 class="p-40">Numerical Calculator</h6>
  <div class="p-40">
    <a class="btn card-fixed", href="bisection-secant-regula-falsi">
      Bisection, Secant, Regula-Falsi
    </a>
    <a class="btn card-fixed", href="newton-raphson">
      Newton Raphson
    </a>
    <a class="btn card-fixed", href="simple-iterative">
      Simple Iterative
    </a>
    <a class="btn card-fixed", href="jacobi-and-guass-seiled">
      Jacobi and Guass Seiled 
    </a>
    <a class="btn card-fixed", href="newton-interpolation-and-differentiation">
      Newton Interpolation and Differentiation
    </a>
    <a class="btn card-fixed", href="integration">
      Integration
    </a>
    <a class="btn card-fixed", href="solution-of-ode">
      Solution of ODE
    </a>
  </div>
</div>
{% endblock %}