{% extends 'base.html' %}

{% block body %}
<div class="padding-top">
  <h6 id="method" class="p-40">Jacobi and Guess Seiled</h6>
  <p class="p-40">Enter functions in terms of variables x1, x2, x3, .... so on. <br> 
    Also enter the value derived from it. Enter the initial value of that variable. <br> 
    Example:<br> function 2x1+3x2+6x3-7 <br> derivation (7-2x1-3x2)/6 <br>initial guess 0</p>
  <form onsubmit="event.preventDefault(); jacobi_and_guass_seiled();" class="mw-full w-lg-600 p-40">
    <div class="input-group w-300">
      <input type="number" id="dimensions" class="form-control" placeholder="Number of variables (default 3)">
      <div class="input-group-append">
        <button class="btn" type="button" onclick="jacobi_and_guass_seiled('expand_input')">Done</button>
      </div>
    </div>
    <br>
    <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
    <div class="form-row row-eq-spacing">
      <fieldset id="functions" class="col">
        <legend>Functions</legend>
        <input type="text" class="form-control function" placeholder="Function" required="required">
        <br>
        <input type="text" class="form-control function" placeholder="Function" required="required">
        <br>
        <input type="text" class="form-control function" placeholder="Function" required="required">
        <br>
      </fieldset>
      <fieldset id="derivations" class="col">
        <legend>Derivations</legend>
        <input type="text" class="form-control derivation" placeholder="Function" required="required">
        <br>
        <input type="text" class="form-control derivation" placeholder="Function" required="required">
        <br>
        <input type="text" class="form-control derivation" placeholder="Function" required="required">
        <br>
      </fieldset>
      <fieldset id="initial-guess" class="col">
        <legend>Initial Guess</legend>
        <input type="number" class="form-control initial-guess" placeholder="Initial Guess" required="required">
        <br>
        <input type="number" class="form-control initial-guess" placeholder="Initial Guess" required="required">
        <br>
        <input type="number" class="form-control initial-guess" placeholder="Initial Guess" required="required">
        <br>
      </fieldset>
    </div>
    <div class="padding-bottom">
      <div class="custom-radio d-inline-block mr-10"> <!-- d-inline-block = display: inline-block, mr-10 = margin-right: 1rem (10px) -->
        <input type="radio" name="method" id="radio-3" value="jacobi" checked>
        <label for="radio-3">Jacobi</label>
      </div>
      <div class="custom-radio d-inline-block">
        <input type="radio" name="method" id="radio-4" value="guass-seidel">
        <label for="radio-4">Guess Seiled</label>
      </div>
    </div>
    <details class="collapse-panel w-400 mw-full">
      <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
      <summary class="collapse-header">
        Default Settings
      </summary>
      <div class="collapse-content">
        <input type="number" class="form-control" id="max-iterations" placeholder="Max Iterations (default 10)">
        <br>
        <input type="number" min="0" max="1" step="0.0000000001" class="form-control" id="required-accuracy"
          placeholder="Required Accuracy (default 0.0001)">
        <br>
        <input type="number" class="form-control" id="round-to" placeholder="Round To (default 3)">
      </div>
    </details>
    
    <!-- Submit button -->
    <br>
    <input class="btn" type="submit" value="Submit">
  </form>
</div>
{% endblock %}